@model WebApplication4.Models.Usuario

@{
    ViewData["Title"] = "InsertarOpen";
}

<h1 style=" text-align: center; margin-bottom:-4rem;">ADM Compras</h1>
<div class="formulario">
    <fieldset class="field">
        <legend>Registrarse</legend>
        <form asp-action="InsertarSend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label" style="font-weight: bold; color:white;">Nombre de Usuario</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clave" class="control-label" style="font-weight: bold; color:white;">Contraseña</label>
                <input asp-for="clave" class="form-control" />
                <span asp-validation-for="clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clave" class="control-label" style="font-weight: bold; color:white;">Confirmar Contraseña</label>
                <input asp-for="clave" name="ConfirmarClave" class="form-control" />
                <span asp-validation-for="clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrarse" class="btn btn-success" />
                <a asp-action="SelectShow" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
     </fieldset>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
