@model WebApplication4.Models.Usuario

@{
    ViewData["Title"] = "LoginOpen";
}

<h1>LoginOpen</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginSend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre Usuario</label>
                <input asp-for="nombre" name="NombreUsuario" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clave" class="control-label">Clave</label>
                <input asp-for="clave" Clave class="form-control" />
                <span asp-validation-for="clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="InsertarOpen">Registrarse</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
