@model WebApplication4.Models.CArticulo

@{
    ViewData["Title"] = "InsertarOpen";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<br />
<h1>Insertar Articulo</h1>

<hr />
<div class="row Card__container--float-low">
    <div class="col-md-4">
        <form asp-action="InsertarSend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label" style="color:white"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marca" class="control-label" style="color:white"></label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidadMedida" class="control-label" style="color:white"></label>
                <input asp-for="unidadMedida" class="form-control" />
                <span asp-validation-for="unidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="existencia" class="control-label" style="color:white"></label>
                <input asp-for="existencia" class="form-control" />
                <span asp-validation-for="existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label" style="color:white"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-success" style="width:100%; height:3rem" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div style="margin: 1rem 0rem 1rem 5rem" class="IconRefresh">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="90%" height="90%" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <line x1="9" y1="12" x2="15" y2="12" />
                <line x1="12" y1="9" x2="12" y2="15" />
            </svg>
        </div>
    </div>
</div>

<div>
    <a asp-action="SelectShow">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
