<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Http;
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accesor
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADMcompras</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @{
            switch (Accesor.HttpContext.Session.GetInt32("tipoUsuario"))
            {
                case 1:
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #eb4444; " border-bottom box-shadow mb-3">
                        <div class="container">
                            <a class="navbar-brand crecer  text-light" asp-area="" asp-controller="Home" asp-action="Index">ADMcompras</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Articulo" asp-action="SelectShow">Articulo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Empleado" asp-action="SelectShow">Empleado</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Departamento" asp-action="SelectShow">Departamento</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="UnidadMedida" asp-action="SelectShow">Unidad Medida</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Marca" asp-action="SelectShow">Marca</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Proveedor" asp-action="SelectShow">Proveedor</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    break;
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #eb4444; " border-bottom box-shadow mb-3">
                        <div class="container">
                            <a class="navbar-brand crecer  text-light" asp-area="" asp-controller="Home" asp-action="Index">ADMcompras</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="Solicitud" asp-action="SelectShow">Articulo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light hoover" asp-area="" asp-controller="OrdenCompra" asp-action="SelectShow">Empleado</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    case 2:

                        break;

                    default:
                        
                        break;
                }

        }


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
