@model WebApplication4.Models.CEmpleado

@{
    ViewData["Title"] = "EliminarOpen";
}

<h1>EliminarOpen</h1>

<h3>Estas Seguro Que quieres eliminar esto?</h3>
<div>
    <h4>CEmpleado</h4>
    <hr />
    <form asp-action="EliminarSend" asp-route-id="@ViewData["id"]" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="SelectShow">Back to List</a>
    </form>
</div>
