@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin:15rem" >
    <h1 class="display-4 crecer2h1">Bienvenido al Adminitrador de Compras </h1><br />
    <h2 style="color: #eb4444">Gestor de Compras</h2>
</div>
